body {
}

.view {
	margin: 40px 0;
}

.footer {
	color: #fff;
}

.menu {
	background-color: #0369b7;
}

.menu a {
	color: #fff;
}

.menu img {
	width: 50px;
	margin-right: 20px;
}

.menu ul li a {
	padding: 20px;
	border-radius: 0%;
}

.menu ul li a:hover {
	background-color: #0089f2;
}

.footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #0369b7;
}

.footer p {
	padding: 0;
	margin: 0;
}

.footer p:first-child {
	font-weight: 600;
}

.btn_free_eval {
	width: 250px;
	background-color: #0089f2;
	padding: 20px;
	font-size: 20px;
	border-radius: 0%;
	color: #fff;
}

.btn_site_default {
	background-color: #0089f2;
	padding: 10px;
	width: 100%;
	color: #fff;
	border-radius: 0%;
}