.intro {
	background: url('../images/covers/main_cover.jpg') no-repeat center center;
	background-size: cover;
	height: 400px;
	color: #fff;
	text-align: center;
	font-weight: 600;
	margin-top: -40px;
}

.intro h1 {
	margin-top: 0;
	padding-top: 100px;
}

.intro a {
	margin-top: 20px;
}

.preview {
	margin-top: 50px;
	min-height: 250px;
	text-align: center;
}

.preview_img {
	width: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.message, .why_us, .footer {
	margin-top: 60px;
}

.why_us {
	text-align: center;
}

.why_us h4 {
	margin-top: 40px;
}

.details_button {
	margin-top: 20px;
}