.intro {
	background: url('../images/covers/main_cover.jpg') no-repeat center center;
	background-size: cover;
	height: 400px;
	color: #fff;
	text-align: center;
	font-weight: 600;
}

.intro h1 {
	margin-top: 0;
	padding-top: 120px;
}

.intro a {
	margin-top: 20px;
}

.message, .previews, .why_us, .footer {
	margin-top: 60px;
}

.preview_rows {
	margin-left: auto;
	margin-right: auto;
}

.feature_preview {
	display: inline-block;
	text-transform: capitalize;
	margin: 20px;
}

.feature_preview_inner {
	height: 300px;
	padding: 40px;
	position: relative;
}

.feature_preview_inner .btn_site_default {
	width: 200px;
}

.feature_preview ul, .feature_preview_large ul {
	padding: 0;
	margin: 0;
}

.feature_preview li, .feature_preview_large li {
	list-style-type: none;
}

.why_us {
	text-align: center;
}

.why_us h4 {
	margin-top: 40px;
}

.details_button {
	margin-top: 20px;
}