<div class="intro">
	<h1>Charter Technology Solutions</h1>
	<h2>Your Premiere IT Solutions Service</h2>
	<a class="btn btn-default">Free Evaluation!</a>
</div>

<div class="highlights">
	<div class="hl_rows">
		<div class="row">
			<div class="h_content erate">
				<h4>{{erate.header}}</h4>
				<ul>
					<li ng-repeat="item in erate.list">{{item}}</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 nopadding">
				<div class="h_content network">
					<h4>{{network.header}}</h4>
					<ul>
						<li ng-repeat="item in network.list">{{item}}</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 nopadding">
				<div class="h_content msp">
					<h4>{{msp.header}}</h4>
					<ul>
						<li ng-repeat="item in msp.list">{{item}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row ceo_message">
	<img class="portrait" src="images/portraits/sachin.jpg">
	<P>"We believe our success is measured by the success of our clients. It is our promise to you that we will engage in ways that serves your interests best. "</P>
</div>