<div class="intro">
	<h1>Charter Technology Solutions</h1>
	<h2>Your Premiere IT Solutions Service</h2>
	<a class="btn btn_free_eval" href="#/">Free Evaluation!</a>
</div>

<div class="container message">
	<h2>"…if you are a small or medium-sized business, and technology isn't your core competency, then you shouldn't have to be a technology expert to reap its benefits."</h2>
</div>

<div class="container previews">
	<div class="preview_rows">
		<div class="row">
			<div class="col-md-3">
				<feature-preview info="erate" class="feature_preview"></feature-preview>
			</div>
			<div class="col-md-3">
				<feature-preview info="msp" class="feature_preview"></feature-preview>
			</div>
			<div class="col-md-3">
				<feature-preview info="network" class="feature_preview"></feature-preview>
			</div>
			<div class="col-md-3">
				<feature-preview info="backups" class="feature_preview"></feature-preview>
			</div>
		</div>
	</div>
</div>

<div class="container why_us">
	<h2>Why Charter Technology Solutions?</h2>
	<h4>Technology empowers. Technology can be a great enabler. At Charter Technology Solutions, we want to partner with you to show you how it can reshape your world.</h4>
	<h4>We strongly believe that if you are a small or medium-sized business, and technology isn’t your core competency, then you shouldn’t have to be a technology expert to reap its benefits. For that reason, and many more, Charter Technology Solutions was created – to adroitly guide you through the technology maze so that your organization can reach its maximum potential.</h4>
	<h4>In today’s rapidly changing technology landscape, we have the tools, expertise and knowledge to connect you with solutions what will serve your organization in the best way possible. From simpler projects such as mail migration to a cloud based e-mail service to establishing customized IT support and service agreements, you can rely on us to lead you in the right direction.</h4>
</div>