<div class="container">
	<div class="row">
		<div class="col-md-12">
			<service-preview info="data.cef"></service-preview>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<service-preview info="data.mip"></service-preview>
		</div>
		<div class="col-md-6">
			<service-preview info="data.wsolutions"></service-preview>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<service-preview info="data.internet"></service-preview>
		</div>
		<div class="col-md-3">
			<service-preview info="data.network"></service-preview>
		</div>
		<div class="col-md-3">
			<service-preview info="data.obackup"></service-preview>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<service-preview info="data.office"></service-preview>
		</div>
		<div class="col-md-6">
			<service-preview info="data.phone"></service-preview>
		</div>
	</div>
</div>